
/* Сделать сайт по ширине шапки (у шапки был увеличенный контенйнер -- подгоняем под него) */
.wrap {
    max-width: 1440px;
}


/* Добавляем иконку Play к видосам */
.video-reviews__img {
    position: relative;
}

.video-reviews__item:hover .video-reviews__img {
    filter: brightness(1.05) contrast(1.05);
}
    .video-reviews__img::after {
        content: "";
        position: absolute;
        inset: 0;
        margin: auto;
        width: 20%;
        aspect-ratio: 1/1;
        background-color: rgba(38, 38, 39, 0.7);
        background-image: url(./play.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 50%;
        transition: filter 200ms ease;
    }



/* Если в модальном окне есть видео, не ограничиваем его ширину. Это особенно критично на мобилках. */

.fancybox-slide--iframe {

}

@media (max-width: 768px) {

    .fancybox-slide--iframe {
        padding: 8px;
    }
}


.fancybox-slide--iframe .fancybox-content {

}

@media (max-width: 1100px) {
    .fancybox-slide--iframe .fancybox-content {
        max-width: none !important;
    }
}



/* Убираем отступ у последнего фильтра, чтобы ниже он не поломал отступы.
   Похоже на то, что у этого
 */

.check-wrap:last-child {
    margin-bottom: 0;
}


/* Добавляем фильтр "Популярные" */

.filter-item__values--popular {
    padding-top: 16px;
    margin-left: -16px;
    padding-left: 16px;
    margin-bottom: 24px;
    padding-bottom: 24px;
    background-color: #F3F3F3;
    border-radius: 3px;
}
    .filter-item__sub-heading {
        margin-bottom: 12px;
        font-size: 15px;
    }

    .filter-item__values--popular .check-wrap {
        font-weight: 500;
    }
